/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* General styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #8BBD91;
	height: auto;
	display: grid;

}

/* General styles end */
a {
	text-decoration: none;
	color: inherit;
}

.container {
    padding: 10px;
    margin: 10px;
    display: block;
    justify-content: center;
}

.container h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin: 10px;
    padding: 10px;
}

.navBar {
	color: #fff;
	display: flex;
	gap: 25px;
    justify-content: space-between;
	align-items: center;
	z-index: 1;
}

img {
    justify-content: left;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

.navItem{
    justify-content: center;
    display: flex;
	padding: 5px;
	margin: 5px;
}

ul {
	list-style: none;
	display: flex;
	gap: 25px;
}

.link {
	position: relative;
	display: inline-block;
	justify-content: center;
}
.link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 4px;
	scale: 0 1;
	transform-origin: right;
	transition: scale 0.25s;
}
.link:hover::before {
	scale: 1;
	transform-origin: left;
}

.video-container {
    width: 100%; /* Adjust the width as needed */
    max-width: 30%; /* Set a maximum width if desired */
    margin: 0 auto; /* Center the video container */
    border-radius: 10px;
    box-shadow: 10px 10px #3F4042 ;
    overflow: hidden;
    
}

video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra spacing or borders */
}


.biggestBox {
    display: block;
    justify-content: space-around;
    padding: 10%;
    margin: 10px;
}

.biggestBox h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    margin: 10px;
    padding: 10px;
}


.card {
    justify-content: center;
    padding: 5%;
    margin: 10%;
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px #202021 ;
    height: 500px;
    width: 630px;
    justify-content: space-between;

}

.card img {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.footerContent {
	border-top: solid 1px black;
	width: 100%;
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
}
.footerContent p {
	margin: 10px;
	padding: 10px;
}

.footerLinks {
	margin: 10px;
	padding: 10px;
}