/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* General styles */
/* Viewport for small screen, laptop, desktop (768px - 1400px)*/
/* Because i use my mac pro to build the default, and i dont have the big screen to work conveniently  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #8BBD91;
	height: 130vh;
}
/* Nav bar */
a {
	text-decoration: none;
	color: inherit;
}


nav {
	color: #fff;
	display: flex;
	align-items: center;
	gap: 25px;
	margin: 10px;
	justify-content: center;
	height: 10%;
}

ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 25px;
}

li {
	height: 50px;

}

nav a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: inherit;
	gap: 25px;
}


/* Side bar custom */
.sideBar {
	position: fixed;
	top: 0; 
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: rgb(55, 179, 203);
	box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.sideBar a {
	width: 100%;
	padding: 10px;
	margin: 10px;
}

/* hide menu button for responsive mode */
.menu-button {
	display: none;
}

/* Make animation hover for buttons */
.link {
	position: relative;
	display: inline-block;
	justify-content: center;
}
.link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 4px;
	scale: 0 1;
	transform-origin: right;
	transition: scale 0.25s;
}
.link:hover::before {
	scale: 1;
	transform-origin: left;
}

/* content area */
.container {
    padding: 10px;
    margin: 10px;
    display: block;
    justify-content: center;
}

.container h1 {
	text-align: center;
	font-size: 50px;
	color: #fff;
	margin: 5%;
	padding: 10px;
}

/* introduction section */

.introduction {
	margin: 10px;
	padding: 10px;
	display: flex;

}

.introduction img {
	height: 40%;
	width: 40%;
}

.bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 5% 0 5%;
	padding: 10px;
}

.bio h3 {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.bio p {
	color: black;
	font-size: 1.2rem;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.imgBox {
	background-color: #202021;
    border-radius: 10px;
	border: 20px solid #fff;
    box-shadow: 10px 10px #202021;
    height: 500px; 
    width: 630px;
}

/* Skill content */
.skills {
	display: flex;
	grid-template-columns: repeat(3. 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	grid-gap: 1rem;
	padding: 1rem 70px;
	font-size: 1.2rem;
}

.skillsBox {
	padding: 1rem; 
	color: #ddd;
	cursor: pointer;
}

.skillTitle{
 	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem; 
	margin-bottom: 0.5rem;
	height: 110px;
}

.skills img {
	width: 90px;
	height: 90px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}


.skillTitle h3 {
	color: #fff;
	margin: 0.5rem;
}



.footerContent {
	border-top: solid 1px black;
	width: 100%;
	display: flex;
	height: 10%;
	align-items: center;
	justify-content: center;
    bottom: 0;
}
.footerContent a {
	margin: 10px;
	padding: 10px;
	color: #fff;

}
.footerContent p {
	margin: 10px;
	padding: 10px;
}

.footerLinks {
	margin: 10px;
	padding: 10px;
}

/* Mobile and ipads */
@media screen and (min-width: 320px ) and (max-width: 768px) {
	body {
		width: auto;
		height: auto;
	} 

	/* This is the hide and show of menu and nav bar */
	.hideMobile {
		display: none;
	}

	.menu-button {
		display: block;
	}

	.sideBar {
		display: none;
		width: 30%;
		height: 100%;
	}

	/* Reverse contents' order in introduction */
	.introduction {
		flex-direction: column-reverse;
		align-items: center;
	}

	/* change the box margin and padding for the profile */
	.imgBox {
		border: 10px solid #fff;
	}

	/* change bio font size */
	.bio h3 {
		margin: 10px;
		padding: 10px;
	}
	
	/* Change skill pic grid and resize skill images */
	.skills {
		display: flex;
		flex-direction: column;
	}
	.skills img {
		width: 50px;
		height: 50px;
	}

	.skills h3 {
		font-size: 1rem;
	}
	
	.footerContent {
		border-top: solid 1px black;
		width: auto;
		display: sticky;
		height: 10%;
		align-items: center;
		bottom: 0;
	}
	/* Close footer's buttons */
	.footerLinks {
		display: none;
	}
}

/*  Extra large screen*/
@media screen and (min-width: 1440px) and (max-width: 2560px){
	.container h1 {
		font-size: 150px;
	}

	/* navigator modification */
	nav img {
		width: 200px;
		height: auto;
	}

	nav a {
		font-size: 30px;
	}

	/* change bio's font size */
	.bio h3{
		font-size: 40px;
	}

	.bio p{
		font-size: 30px;
	}

	/* Change skills img size */
	.skills img {
		width: 100px;
		height: 100px;
	}

	/* Footer custom */
	.footerContent {
		border-top: solid 1px black;
		width: 100%;
		display: flex;
		height: 10%;
		align-items: center;
		justify-content: center;
		bottom: 0;
	}

	.footerContent a {
		margin: 10px;
		padding: 10px;
		color: #fff;
		font-size: 25px;
	}
	.footerContent p {
		font-size: 25px;
		margin: 10px;
		padding: 10px;
	}

	.footerLinks{
		align-items: center;
	}

}




